{% extends "_layout.html" %}
{% block content %}

<div class="d-flex flex-column align-items-center">
  <img class="profile_pic mb-3" src={{ url }} alt="userProfilePicture" />
  <h3>{{ user.username }}</h3>
  {% if user.description %}
    <small class="text-info">
      {{ user.description }}
    </small>
  {% endif %}
  <div class="row">
    <p class="m-2">Posts: {{ user.images | length }}</p>
    <a href="{{ user.username }}/followers" class="m-2">Followers: <span id="followers_count-{{ user.id }}">{{ user.followers | length }}</span></a> 
    <a href="{{ user.username }}/following" class="m-2">Following: <span id="following_count-{{ user.id }}">{{ user.following | length }}</span></a> 
  </div>
  {% if current_user.is_authenticated and current_user == user %}
    <button type="button" class="btn btn-primary m-2" data-toggle="modal" data-target="#uploadImageModal">
      Upload Image
    </button>
  {% elif current_user.is_authenticated and current_user != user %}
    {% include 'follow_unfollow_btn.html' %}
  {% endif %}
</div>


<div class="container">
  {% if user != current_user and user.status == "private" and current_user not in user.followers %}
    <div class="d-flex flex-column align-items-center m-3" id="private_container-{{ user.id }}">
      {% include 'private_container.html' %}
    </div>
  {% else %}

    <div id="picture_container-{{ user.id }}" class="row col-md-12 bg-light mt-1 mb-3">
      {% for image in user.ordered_images %}
      <div class="d-flex flex-column align-items-center m-2">
        <img class="user_images" src="https://sunny-nextagram.s3.amazonaws.com/user_images/{{ image.image_name }}" />
        {% if image.caption %}
          <small>{{ image.caption }}</small>
        {% endif %}

        {% if current_user.is_authenticated and current_user != user %}
        <form action={{ url_for('donations.new') }} method="POST" class="d-flex justify-content-center mt-3">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <input type="hidden" name="image" value={{ image }} />
          <button type="submit" class="btn-info" data-toggle="modal" data-target="#paymentModal">Donate</button>
        </form>
        {% endif %}
      </div>
      {% endfor %}
    </div>

  {% endif %}

</div>

{% include 'images/new.html' %}

{% endblock %}