{% extends "upload_img_modal.html" %}
{% block content %}
<div class="modal-header">
    <h5 class="modal-title" id="uploadImageModalTitle">Upload Image</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form action="{{ url_for('images.create') }}" method="POST" enctype="multipart/form-data" class="mb-4">
    <div class="modal-body">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="d-flex flex-column align-items-center">
            <img class="preview_image_box" id="your-image" alt="previewImage" />
            <label for="image"></label>
            <input type="file" name="image" accept="image/*" onchange=previewImage(event)>

            <div class="form-group mt-5">
                <label for="caption">Caption:</label>
                <input type="text" name="caption" class="form-control">
            </div>
            
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Upload</button>
    </div>
</form>


<script>
    let previewImage = function (event) {
        let preview = document.getElementById('your-image');
        preview.src = URL.createObjectURL(event.target.files[0]);
        preview.style.display = "block";
    }
</script>


{% endblock %}